@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quản lý team</h1>
    <p class="lead"></p>
    @*<p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Danh sách team</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="/Teams">Chi tiết &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Danh sách nhân viên</h2>
        <p></p>
        <p><a class="btn btn-default" href="/NhanViens">Chi tiết &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lịch sử công tác</h2>
        <p></p>
        <p><a class="btn btn-default" href="/LichSuCongTacs">Chi tiết &raquo;</a></p>
    </div>
</div>